@model Dominos.Web.UI.Models.ViewModel
@using Dominos.Common.Constants

@{
    ViewBag.Title = "Tüm Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "UpdateTargetId", LoadingElementId = "Loading" }))
{
    <div id="UpdateTargetId">
        @Html.Partial(PartialViewConstants.IndexPartial, Model)
    </div>
}

